{% extends "base.html" %}

{% block titulo %} Pacientes {% endblock%}

{% block contenido %} 

<div class="card">
    <div class="card-header">
        <h1>Listado de Pacientes SIP 1</h1>
    </div>
    <div class="card-body">
        <a name="" id="" class="btn btn-primary" href="{% url 'crear' %}" role="button">Agregar Pacientes</a>
        <br>
        <br>
        <div class="table-responsive">
            <table class="table table-striped">
                <thead>
                    <tr>
                        <!-- <th scope="col">Id</th> -->
                        <th scope="col">Habitación</th>
                        <th scope="col">Nombre</th>
                        <th scope="col">Apellido</th>
                        <th scope="col">Foto</th>
                        <th scope="col">Diagnóstico</th>
                        <th scope="col">Comida</th>
                        <th scope="col">Acciones</th>
                        
                    </tr>
                </thead>
                <tbody>

                    {% for paci in pacientes1 %}
                    <tr class="">
                        <!-- <td>{{paci.id}}</td> -->
                        <td>{{paci.habitacion}}</td>
                        <td>{{paci.nombre}}</td>
                        <td>{{paci.apellido}}</td>
                        <td>
                            <img src=" {{paci.imagen.url}} " height="80" width="80">
                            
                        
                        </td>
                        <td>{{paci.diagnostico}}</td>
                        <td>{{paci.comida}}</td>
                        <td> 
                            <a name="" id="" class="btn btn-info" href="{% url 'editar' paci.id %}" role="button">Editar</a>  
                            |  
                            <a name="" id="" class="btn btn-danger" href="{% url 'eliminar' paci.id %}" role="button">Eliminar</a>
                        
                        </td>
                        
                    </tr>

                    {% endfor %}
                    
                </tbody>
            </table>
        </div>
        

    </div>
    
</div>





{% endblock%}